*{
    margin: 0px;
    padding: 0px;

}

.main{
    display: flex;
    justify-content: center;

    background-color: hotpink;
}
/* .main:hover .cards{
     transform: perspective(20px) rotate(2deg) translateY(-50px);
} */

.cards{
    width: 20%;
    background-color: rgb(250, 245, 245);
    border-radius: 18px;
    margin: 40px;
    box-shadow: 2px 2px 10px black;
   
    
    cursor: pointer;
}

.cards:hover{
     box-shadow: 2px 2px 10px black;
     
     transform: perspective(20px) rotatex(2deg) translateY(-50px);
     /* transform: rotateY(180deg); */
     
    
}


.image img{
    width: 100%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.title{
    text-align: center;
    padding: 10px;

}

.des{
    text-align: center;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

button:hover{
    background-color: black;
    color: white;
    transition: .5s;
    cursor: pointer;
}